<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <link
    name="laser_frame">
    <inertial>
      <origin
        xyz="0.00049511 -0.0057843 -0.019562"
        rpy="0 0 0" />
      <mass
        value="0.14299" />
      <inertia
        ixx="7.3475E-05"
        ixy="8.5357E-07"
        ixz="-2.043E-07"
        iyy="4.6277E-05"
        iyz="-3.6218E-06"
        izz="0.00010796" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:$(find my_mobrob)/meshes/laser_frame.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.10196 0.10196 0.10196 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:$(find my_mobrob)/meshes/laser_frame.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="laser_joint"
    type="fixed">
    <origin
      xyz="0.15534 -0.00084956 0.1496"
      rpy="0 0 0" />
    <parent
      link="chassis" />
    <child
      link="laser_frame" />
    <axis
      xyz="0 0 0" />
  </joint>

  <gazebo reference="laser_frame">
    <material>Gazebo/Red</material>

    <sensor name="laser" type="ray">
      <pose> 0 0 0 0 0 0 </pose>
      <visualize>true</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
            <horizontal>
                <samples>360</samples>
                <min_angle>-3.14</min_angle>
                <max_angle>3.14</max_angle>
            </horizontal>
        </scan>
        <range>
            <min>0.3</min>
            <max>12</max>
        </range>
      </ray>
      <plugin name="laser_controller" filename="libgazebo_ros_ray_sensor.so">
        <ros>
          <argument>~/out:=scan</argument>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>laser_frame</frame_name>
      </plugin>
    </sensor>
  </gazebo>

    
</robot>